@media (max-width: 1876px) {
  .brgr {
    left: 94.4% !important;
  }
}

@media (max-width: 1834px) {
  .brgr {
    left: 94% !important;
  }
  .fire-img {
    top: 20% !important;
  }
}

@media (max-width: 1691px) {
  .brgr {
    left: 93.8% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 55px !important;
  }
  .image-logo__wrapper {
    left: 32% !important;
  }
  .section-contacts .contact__slogan {
    height: 10% !important;
    text-align: center;
    font-size: 55px !important;
  }
  .first-row .main-text {
    font-size: 28px !important;
  }
  .fire-img {
    top: 21.5% !important;
  }
}

@media (max-width: 1630px) {
  .brgr {
    left: 93.5% !important;
  }
  .after-logo-text-wrapper__void {
    width: 59.5% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 50px !important;
  }
  .fire-img {
    top: 22% !important;
  }
  .section-contacts .contact__slogan {
    height: 10% !important;
    text-align: center;
    font-size: 50px !important;
  }
}

@media (max-width: 1556px) {
  .brgr {
    left: 93.3% !important;
  }
  .first-row .main-text {
    font-size: 26px !important;
  }
  .text-person__feedbacks span {
    font-size: 23px !important;
  }
  .fire-img {
    top: 24% !important;
  }
}

@media (max-width: 1510px) {
  .brgr {
    left: 93.1% !important;
  }
  .section-unlist-serviceslist__wrapper li:hover {
    font-size: 55px !important;
  }
  .first-row .main-text {
    font-size: 24px !important;
  }
}

@media (max-width: 1470px) {
  .brgr {
    left: 92.8% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 45px !important;
  }
  .section-contacts .contact__slogan {
    height: 10% !important;
    text-align: center;
    font-size: 45px !important;
  }
}

@media (max-width: 1440px) {
  .after-logo-text-wrapper__void {
    width: 62.5% !important;
  }
  .after-logo-text-wrapper__after-logo {
    width: 43.5% !important;
  }
  .image-logo__wrapper {
    left: 30% !important;
  }
  .brgr {
    left: 92.7% !important;
  }
  .first-section-void__wrapper .first-row-void {
    height: 32.8% !important;
  }
  .first-row {
    width: 97% !important;
  }
  .first-row .main-text {
    font-size: 25px !important;
  }
  .section-contacts .contact__slogan {
    height: 10%;
    text-align: center;
    font-size: 45px !important;
  }
  .footer .fire-img {
    top: 25% !important;
    position: absolute;
  }
  .second-section__maintext {
    width: 47% !important;
  }
  .section-contacts__contact {
    font-size: 28px !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 45px !important;
  }
  .third-row span {
    font-size: 13px !important;
  }
  .fourth-row span {
    font-size: 13px !important;
  }
  .button-info-portfolio {
    width: 50% !important;
  }
  .section-contacts .firehand-img {
    height: 50% !important;
  }
}

@media (max-width: 1386px) {
  .brgr {
    left: 92.4% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 45px !important;
  }
  .section-unlist-serviceslist__wrapper li:hover {
    font-size: 50px !important;
  }
  .text-person__feedbacks span {
    font-size: 20px !important;
  }
  .header__list-link-nav span {
    font-size: 28px !important;
  }
  .inpt {
    font-size: 28px !important;
  }
  .button-info-portfolio span {
    font-size: 27px !important;
  }
}

@media (max-width: 1336px) {
  .brgr {
    left: 92.2% !important;
  }
  .header__list-link-nav span {
    font-size: 26px !important;
  }
  .inpt {
    font-size: 26px !important;
  }
  .first-row .main-text {
    font-size: 24px !important;
  }
  .third-row span {
    font-size: 12px !important;
  }
  .footer .fire-img {
    top: 26% !important;
    position: absolute;
  }
}

@media (max-width: 1300px) {
  .brgr {
    left: 91.9% !important;
  }
  .image-logo__wrapper {
    left: 27% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 40px !important;
  }
  .selection1 .main-image-services__wrapper {
    width: 520px !important;
    height: 400px !important;
    background-position: center;
    background-size: cover;
  }
  .selection2 .main-image-services__wrapper {
    width: 520px !important;
    height: 300px !important;
    background-position: right;
    background-size: cover;
  }
  .section-contacts .firehand-img {
    height: 40% !important;
  }
}

@media (max-width: 1250px) {
  .after-logo-text-wrapper__void {
    width: 66.5% !important;
  }
  .brgr {
    left: 91.6% !important;
  }
  .section-unlist-serviceslist__wrapper li:hover {
    font-size: 45px !important;
  }
  .first-row {
    width: 101% !important;
  }
  .third-row span {
    width: 94% !important;
  }
  .section-contacts__contact {
    font-size: 25px !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 37px !important;
  }
  .section-contacts .contact__slogan {
    height: 10%;
    text-align: center;
    font-size: 37px !important;
  }
  .section-contacts .firehand-img {
    height: 37% !important;
  }
  .footer .fire-img {
    top: 27% !important;
    position: absolute;
  }
}

@media (max-width: 1180px) {
  .header__list-link-nav span {
    font-size: 23px !important;
  }
  .header-list-section {
    -webkit-margin-before: 0.5em !important;
            margin-block-start: 0.5em !important;
  }
  .brgr {
    left: 91.1% !important;
  }
  .ladder {
    width: 300px !important;
    height: 300px !important;
    background-size: cover;
    background-position: center;
  }
  .section-services {
    height: calc(100% - 86.7%) !important;
  }
  .slider-info__wrapper {
    height: 50% !important;
  }
  .first-row .main-text {
    font-size: 22px !important;
  }
  .button-info-portfolio span {
    font-size: 25px !important;
  }
}

@media (max-width: 1024px) {
  .after-logo-text-wrapper__void {
    width: 66.5% !important;
  }
  .brgr {
    left: 90.6% !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 34px !important;
  }
  .image-logo__wrapper {
    left: 22% !important;
  }
  .header-wrapper__logo-text {
    font-size: 50px !important;
  }
  .ladder {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  .header-list-section {
    font-size: 21px !important;
  }
  .header__search-item input {
    font-size: 21px !important;
  }
  .after-logo-text-wrapper__after-logo {
    font-size: 25px !important;
  }
  .logo-image-wrapper__burger-menu {
    height: 75px !important;
    width: 75px !important;
  }
  .btn img {
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
  }
  .header__menu .header__menu-title {
    font-size: 50px !important;
  }
  .header__menu {
    height: 135%;
  }
  .section-services__name-tag {
    font-size: 50px !important;
    height: 10%;
  }
  .section-unlist-serviceslist__wrapper li {
    font-size: 23px !important;
    margin-bottom: 35px !important;
  }
  .section-unlist-serviceslist__wrapper li:hover {
    font-size: 39px !important;
  }
  .selection1 .main-text-services__wrapper {
    width: 70% !important;
    font-size: 15px !important;
  }
  .selection1 .main-image-services__wrapper {
    width: 350px !important;
    height: 250px !important;
    background-size: cover;
    background-position: center;
  }
  .selection2 .main-text-services__wrapper {
    width: 70% !important;
    font-size: 15px !important;
  }
  .selection2 .main-image-services__wrapper {
    padding-left: 30px;
    width: 350px !important;
    height: 200px !important;
    background-size: cover;
    background-position: right;
  }
  .selection3 .main-text-services__wrapper {
    width: 70% !important;
    font-size: 15px !important;
  }
  .selection3 .main-image-services__wrapper {
    margin-right: 0px !important;
    width: 200px !important;
    height: 200px !important;
    background-size: cover;
    background-position: right !important;
    padding-left: 100px;
  }
  .selection4 .main-text-services__wrapper {
    width: 70% !important;
    font-size: 15px !important;
  }
  .selection4 .main-image-services__wrapper {
    margin-right: 0px !important;
    width: 250px !important;
    height: 250px !important;
    background-size: cover;
    background-position: right !important;
    padding-left: 100px;
  }
  .section-services__wrapper-info {
    width: 100%;
    height: 45%;
  }
  .section-services {
    height: calc(100% - 88.7%);
  }
  .section-portfolio__name-tag {
    font-size: 50px !important;
  }
  .select-section-portfolio__wrapper .select {
    width: 230px !important;
    height: 50px !important;
  }
  .select-section-portfolio__wrapper .select .option {
    min-height: 50px !important;
    font-size: 27px !important;
  }
  .section-portfolio {
    margin-bottom: 7.1% !important;
  }
  .slider-info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items-slider-info__wrapper-first {
    width: 70% !important;
    margin-bottom: 1%;
  }
  .items-slider-info__wrapper-second {
    width: 70% !important;
  }
  .slider-info__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-info__wrapper {
    width: 100%;
    height: 100% !important;
  }
  .first-row .main-text {
    font-size: 19px !important;
    width: 65% !important;
  }
  .third-row span {
    font-size: 11px !important;
  }
  .fourth-row span {
    font-size: 12px !important;
  }
  .first-item {
    background-position: center;
    background-size: cover;
  }
  .second-item {
    background-position: center;
    background-size: cover;
  }
  .third-item {
    background-position: center;
    background-size: cover;
  }
  .fourth-item {
    background-position: center;
    background-size: cover;
  }
  .section-feedbacks-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paginator__slider {
    font-size: 11px !important;
  }
  .section-feedbacks-contact .section-feedbacks-contactus__wrapper {
    width: 100% !important;
  }
  .person-image__feedbacks {
    width: 50px !important;
    height: 50px !important;
    background-size: cover;
    background-position: center;
  }
  .section-feedbacks-contact .section-name {
    font-size: 50px !important;
  }
  .section-feedbacks-contact {
    height: calc(100% - 82.1167%) !important;
  }
  .contact-img {
    display: none;
  }
  .feedback-form__submit {
    font-size: 20px !important;
  }
  .section-contacts__title {
    font-size: 50px !important;
    height: 10% !important;
  }
  .section-contacts__contact {
    font-size: 20px !important;
  }
  .section-contacts .firehand-img {
    height: 30% !important;
  }
  .text-person__feedbacks span {
    font-size: 21px !important;
  }
  .author-text__feedbacks span {
    font-size: 21px !important;
  }
  .section-contacts .contact__slogan {
    height: 10%;
    text-align: center;
    font-size: 34px !important;
  }
}

@media (max-width: 768px) {
  .after-logo-text-wrapper__void {
    width: 66.5% !important;
  }
  .brgr {
    left: 90% !important;
  }
  .header__sign-up {
    left: 0 !important;
    width: 100% !important;
  }
  .header__sign-in {
    width: 100% !important;
    left: 0 !important;
  }
  .header__list-link-nav span {
    font-size: 16px !important;
  }
  .logo-image-wrapper__burger-menu {
    height: 60px !important;
    width: 60px !important;
  }
  .logo-image-wrapper__burger-menu span {
    width: 38px !important;
  }
  .image-logo__wrapper {
    left: 13% !important;
  }
  .section-unlist-serviceslist__wrapper li:hover {
    font-size: 27px !important;
  }
  .first-row .main-text {
    font-size: 15px !important;
  }
  .button-info-portfolio span {
    font-size: 23px !important;
  }
  .section-contacts__contact {
    font-size: 16px !important;
  }
  .section-contacts .contact__slogan {
    font-size: 26px !important;
  }
  .contact__linst-link {
    font-size: 10px !important;
  }
  .section-contacts .contact__links {
    height: 10%;
  }
  ul {
    -webkit-padding-start: 0px !important;
            padding-inline-start: 0px !important;
  }
  .logo-image-wrapper__logo-text {
    font-size: 25px !important;
  }
}
/*# sourceMappingURL=media.css.map */