@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("../fonts/ofont.ru_Playfair Display SC.eot");
  src: local("☺"),
    url("../fonts/ofont.ru_Playfair Display SC.woff") format("woff"),
    url("../fonts/ofont.ru_Playfair Display SC.ttf") format("truetype"),
    url("../fonts/ofont.ru_Playfair Display SC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/ofont.ru_Ubuntu Light.eot");
  src: local("☺"), url("../fonts/ofont.ru_Ubuntu Light.woff") format("woff"),
    url("../fonts/ofont.ru_Ubuntu Light.ttf") format("truetype"),
    url("../fonts/ofont.ru_Ubuntu Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ofont.ru_Ubuntu.eot");
  src: local("☺"), url("../fonts/ofont.ru_Ubuntu.woff") format("woff"),
    url("../fonts/ofont.ru_Ubuntu.ttf") format("truetype"),
    url("../fonts/ofont.ru_Ubuntu.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu Medium.eot");
  src: local("☺"), url("../fonts/Ubuntu Medium.woff") format("woff"),
    url("../fonts/Ubuntu Medium.ttf") format("truetype"),
    url("../fonts/Ubuntu Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");

@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/Ubuntu-MediumItalic.eot");
  src: local("☺"), url("../fonts/Ubuntu-MediumItalic.woff") format("woff"),
    url("../fonts/Ubuntu-MediumItalic.ttf") format("truetype"),
    url("../fonts/Ubuntu-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");

html,
body {
  background: rgba($color: #303030, $alpha: 1);
  //background-image: url(../images/2-layers.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100.6%;
  height: 6000px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  user-select: none;

  .header {
    width: calc(100% - 21.875%);
    height: calc(100% - 85.5167%);
    //border: 1px solid white;
    margin-top: calc(100% - 98.6%);
    margin-bottom: calc(100% - 98.51667%);
    display: flex;
    flex-direction: column;
    text-align: center;

    .header-wrapper__logo-text {
      font-family: "Playfair Display SC", serif;
      font-size: 60px;
      color: #b69b67;
      text-transform: uppercase;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 400;
      border-top: 1px solid #b69b67;
    }

    .header-wrapper__after-logo {
      width: 100%;
      display: flex;

      .after-logo-text-wrapper__void {
        content: "";
        width: 56.5%;
      }

      .after-logo-text-wrapper__after-logo {
        text-align: start;
        width: 43.5%;
        font-size: 30px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 100;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        color: #b4b4b4;
      }
    }

    .text-logo-wrapper {
      width: 100%;
      text-align: center;
      font-family: "Ubuntu", sans-serif;
      margin-bottom: 50px;

      .logo-image-wrapper__logo-text {
        display: flex;
        justify-content: center;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #636363;
        background: radial-gradient(
          circle closest-corner at 50% 50%,
          #c7a773,
          #373737
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .logo-image-wrapper__logo-icon {
      width: 100%;
      font-family: "Ubuntu", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo-icon-wrapper__icon-text {
        display: flex;
        justify-content: center;
        color: #454545;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .material-icons1 {
        display: flex;
        justify-content: center;
        color: #454545;
        font-weight: 100;
        padding: 0;
        margin: 0;
        background-image: url(../images/down.png);
        width: 46px;
        height: 25px;
      }
    }

    .header-wrapper__logo-image {
      height: 52%;
      width: 100%;
      position: relative;

      .brgr {
        cursor: pointer;
        left: 94.5%;
        top: 0%;
        position: absolute;
        z-index: 1001;

        .logo-image-wrapper__burger-menu {
          height: 82px;
          width: 82px;
          border: 1px solid #454545;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: 0.3s linear;

          span {
            width: 52px;
            height: 2px;
            background-color: #a4a4a4;
            margin: 7.5px;
            transition: 0.3s linear;
          }
        }

        .transition {
          .line1 {
            transform: rotate(-45deg) translate(-10px, 14px) !important;
          }
        }

        .transition {
          .line2 {
            opacity: 0 !important;
          }
        }

        .transition {
          .line3 {
            transform: rotate(45deg) translate(-10px, -14px) !important;
          }
        }

        &:hover .logo-image-wrapper__burger-menu {
          border: 1px solid #b69b67;
          transition: 0.3s linear;

          span {
            background-color: #b69b67;
            transition: 0.3s linear;
          }
        }
      }

      .header__menu {
        z-index: 1000;
        position: absolute;
        top: 0%;
        border: 1px solid #454545;
        width: 100%;
        height: 150%;
        background: #303030;
        transform: translateX(115%);
        transition: 1s ease-in-out;

        .header__menu-title {
          width: 100%;
          color: #b4b4b4;
          font-family: "Playfair Display SC", serif;
          font-size: 60px;
          font-weight: 700;
          text-transform: uppercase;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .header__menu-main-text {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .header__menu-section {
            height: 100%;
            width: 39%;
            display: flex;

            .header__section-lending {
              height: 100%;
              width: 48%;

              .header-list-section {
                list-style-type: none;
                color: #b4b4b4;
                font-family: "Ubuntu", sans-serif;
                font-size: 30px;
                text-transform: uppercase;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-inline-start: 0px;
                margin-block-start: 1em;
                transition: 0.3s linear;

                .header__list-link-nav {
                  margin-bottom: 30px;
                  font-weight: 300;
                  transition: 0.1s linear;
                  cursor: pointer;

                  &:hover span {
                    color: #b69b67;
                    font-weight: 400;
                    border-top: 1px solid #b69b67;
                    transition: 0.1s linear;
                  }
                }

                .header_list-link-modal {
                  margin-bottom: 30px;
                  font-weight: 300;
                  color: #695631;
                }
              }
            }

            .header__search-item {
              width: 90%;
              height: 20%;
              display: flex;
              justify-content: center;

              form {
                width: 100% !important;
                background: #303030;
                margin-block-start: 1em;
                position: relative;
              }

              input,
              button {
                border: none;
                outline: none;
                background: transparent;
              }

              input {
                border-bottom: 1px solid #454545;
                width: 100%;
                padding-left: 0;
                padding-bottom: 0;
                font-size: 30px;
                font-family: "Ubuntu", serif;
                color: #636363;
                font-weight: 300;
                text-transform: uppercase;
              }

              button {
                border: none;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
              }

              button:before {
                color: #b4b4bb;
              }
            }
          }

          .flex-direction-column {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
        }
      }

      .header__sign-up {
        z-index: 1010;
        background: #303030;
        position: absolute;
        top: 0%;
        left: 20%;
        width: 60%;
        height: 150%;
        border: 1px solid #b4b4b4;
        display: flex;
        flex-direction: column;
        transform: translateX(-200%);
        transition: 1s ease-in-out;

        .header__modal-title-text {
          font-family: "Playfair Display SC", serif;
          font-size: 60px;
          font-weight: 400;
          color: #b4b4b4;
          text-transform: uppercase;
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .header__using-text {
          font-family: "Ubuntu", sans-serif;
          color: #b4b4b4;
          font-size: 30px;
          text-transform: uppercase;
          width: 100%;
          height: 5%;
          font-weight: 200;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }

        .header__button-using {
          width: 100%;
          height: 15%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .header__button {
            height: 50%;
            width: 25%;
            font-size: 30px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }

          .facebook {
            color: #3b5998;
            border: 1px solid #3b5998;

            &:hover {
              background: #3b5998;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }

          .google {
            color: #dd4b39;
            border: 1px solid #dd4b39;

            &:hover {
              background: #dd4b39;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }

          .twitter {
            color: #1da1f2;
            border: 1px solid #1da1f2;

            &:hover {
              background: #1da1f2;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }
        }

        .header__modal-slogan {
          width: 100%;
          height: 10%;
          font-size: 30px;
          font-family: "Ubuntu", sans-serif;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          color: #b4b4b4;
          text-transform: uppercase;
          font-weight: 300;
        }

        .header__modal-form {
          height: 40%;
          width: 100%;

          form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            input,
            button {
              border: none;
              outline: none;
              background: transparent;
            }

            .name-email {
              border: 1px solid #b4b4bb;
              width: 80%;
              height: 15%;
              font-size: 30px;
              font-family: "Ubuntu", serif;
              color: #636363;
              font-weight: 300;
              padding: 15px;
              margin-top: 15px;
            }

            .password-button {
              margin-top: 30px;
              height: 15%;
              width: 84%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .password {
                border: 1px solid #b4b4bb;
                font-size: 30px;
                font-family: "Ubuntu", serif;
                color: #636363;
                font-weight: 300;
                padding: 15px;
                height: 100%;
                width: 65%;
              }

              .sub-btn {
                height: 184%;
                width: 25%;
                background: #b69b67;
                cursor: pointer;

                span {
                  text-transform: uppercase;
                  font-size: 30px;
                  color: #303030;
                  font-family: "Ubuntu", sans-serif;
                  font-weight: 300;
                  transition: 0.3s ease-in-out;
                }

                &:hover span {
                  color: #8f7c5a;
                  transition: 0.3s ease-in-out;
                }
              }
            }
          }
        }

        .modal__cross {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 20px;
          right: 20px;
          cursor: pointer;
          fill: #b4b4b4;
        }
      }

      .header__sign-in {
        z-index: 1010;
        background: #303030;
        position: absolute;
        top: 0%;
        left: 20%;
        width: 60%;
        height: 150%;
        border: 1px solid #b4b4b4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(200%);
        transition: 1s ease-in-out;

        .header__modal-title-text {
          font-family: "Playfair Display SC", serif;
          font-size: 60px;
          font-weight: 400;
          color: #b4b4b4;
          text-transform: uppercase;
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .header__using-text {
          font-family: "Ubuntu", sans-serif;
          color: #b4b4b4;
          font-size: 30px;
          text-transform: uppercase;
          width: 100%;
          height: 5%;
          font-weight: 200;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }

        .header__button-using {
          width: 100%;
          height: 15%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .header__button {
            height: 50%;
            width: 25%;
            font-size: 30px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }

          .facebook {
            color: #3b5998;
            border: 1px solid #3b5998;

            &:hover {
              background: #3b5998;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }

          .google {
            color: #dd4b39;
            border: 1px solid #dd4b39;

            &:hover {
              background: #dd4b39;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }

          .twitter {
            color: #1da1f2;
            border: 1px solid #1da1f2;

            &:hover {
              background: #1da1f2;
              color: #303030;
              transition: 0.3s ease-in-out;
            }
          }
        }

        .header__modal-slogan {
          width: 100%;
          height: 10%;
          font-size: 30px;
          font-family: "Ubuntu", sans-serif;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          color: #b4b4b4;
          text-transform: uppercase;
          font-weight: 300;
        }

        .header__modal-form {
          height: 40%;
          width: 100%;

          form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            input,
            button {
              border: none;
              outline: none;
              background: transparent;
            }

            .name-email {
              border: 1px solid #b4b4bb;
              width: 80%;
              height: 15%;
              font-size: 30px;
              font-family: "Ubuntu", serif;
              color: #636363;
              font-weight: 300;
              padding: 15px;
              margin-top: 15px;
            }

            .sub-btn {
              height: 25%;
              width: 25%;
              background: #b69b67;
              cursor: pointer;

              span {
                text-transform: uppercase;
                font-size: 30px;
                color: #303030;
                font-family: "Ubuntu", sans-serif;
                font-weight: 300;
                transition: 0.3s ease-in-out;
              }

              &:hover span {
                color: #8f7c5a;
                transition: 0.3s ease-in-out;
              }
            }
          }
        }
      }

      .modal__cross {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        fill: #b4b4b4;
      }
    }

    .image-logo__wrapper {
      left: 35%;
      position: absolute;
    }
  }
}

.section-services {
  width: calc(100% - 21.875%);
  height: calc(100% - 84.7%);
  //border: 1px solid white;
  margin-bottom: calc(100% - 98.4%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-services__wrapper {
    width: 100%;
    height: 100%;

    .section-services__name-tag {
      width: 100%;
      font-size: 60px;
      text-align: center;
      font-family: "Playfair Display SC", serif;
      color: #b4b4b4;
      height: 15%;
    }

    .section-services__wrapper-info {
      width: 100%;
      height: 85%;
      display: flex;

      .navbar-section__wrapper {
        width: 40%;
        margin-right: 30px;
        padding: 0;

        .section-unlist-serviceslist__wrapper {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: block;
            font-size: 30px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 100;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
            color: #b4b4b4;
            margin-bottom: 40px;
            transition: 0.3s linear;

            .services-span__wrapper {
              transition: 0.3s linear;

              // &:hover {
              //   border-top: 1px solid #b69b67;
              //   transition: 0.3s linear;
              // }
            }

            &:hover {
              font-size: 60px;
              color: #b69b67;
              border-bottom: 1px solid #454545;
              transition: 0.3s linear;

              .services-span__wrapper {
                border-top: 1px solid #b69b67;
                transition: 0.3s linear;
              }
            }
          }
        }
      }

      .info-section__wrapper {
        width: 60%;
        display: flex;
        position: relative;

        .info-section-services__wrapper {
          width: 100%;

          .selection1 {
            width: 100%;
            height: 100%;
            //display: none;
            opacity: 1;
            transition: 0.3s linear;
            position: absolute;

            .main-text-services__wrapper {
              width: 60%;
              color: #b4b4b4;
              font-family: "Ubuntu", sans-serif;
              font-size: 20px;
              text-align: justify;
              font-weight: 100;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;

              a {
                text-decoration: none;
                color: #b69b67;
              }
            }

            .main-text-services-void__wrapper {
              width: 40%;
            }

            .main-image-services__wrapper {
              width: 100%;
              height: 100%;
              background-image: url(../images/Laptop.png);
              background-repeat: no-repeat;
              background-position: center left;
            }
          }

          .selection2 {
            width: 100%;
            height: 100%;
            // display: none;
            opacity: 0;
            position: absolute;
            transition: 0.3s ease-in-out;

            .main-text-services__wrapper {
              margin-top: 10%;
              width: 60%;
              color: #b4b4b4;
              font-family: "Ubuntu", sans-serif;
              font-size: 20px;
              text-align: justify;
              font-weight: 100;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;

              a {
                text-decoration: none;
                color: #b69b67;
              }
            }

            .main-text-services-void__wrapper {
              width: 40%;
            }

            .main-image-services__wrapper {
              width: 100%;
              height: 50%;
              background-image: url(../images/Retro-logo.png);
              background-repeat: no-repeat;
              background-position: right center;
            }
          }

          .selection3 {
            width: 100%;
            height: 100%;
            // display: none;
            opacity: 0;
            position: absolute;

            .main-image-services__wrapper {
              width: 100%;
              height: 30%;
              background-image: url(../images/Hands.png);
              background-repeat: no-repeat;
              background-position: right center;
            }

            .main-text-services__wrapper {
              width: 60%;
              color: #b4b4b4;
              font-family: "Ubuntu", sans-serif;
              font-size: 20px;
              text-align: justify;
              font-weight: 100;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;

              a {
                text-decoration: none;
                color: #b69b67;
              }
            }

            .main-text-services-void__wrapper {
              width: 40%;
            }
          }

          .selection4 {
            width: 100%;
            height: 100%;
            // display: none;
            opacity: 0;
            position: absolute;

            .main-image-services__wrapper {
              width: 100%;
              height: 42%;
              background-image: url(../images/Camera.png);
              background-repeat: no-repeat;
              background-position: center center;
            }

            .main-text-services__wrapper {
              width: 60%;
              color: #b4b4b4;
              font-family: "Ubuntu", sans-serif;
              font-size: 20px;
              text-align: justify;
              font-weight: 100;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;

              a {
                text-decoration: none;
                color: #b69b67;
              }
            }

            .main-text-services-void__wrapper {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

.section-portfolio {
  width: calc(100% - 21.875%);
  height: calc(100% - 85.77%);
  //border: 1px solid white;
  margin-bottom: (100% - 97.9%);

  .section-portfolio__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .section-portfolio__name-tag {
      width: 100%;
      height: 12%;
      font-size: 60px;
      text-align: center;
      font-family: "Playfair Display SC", serif;
      color: #b4b4b4;
    }

    .select-section-portfolio__wrapper {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      .select {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 245px;
        height: 59px;
        border: 1px solid #454545;
        text-decoration: none;
        outline-width: 0;
        margin: 0;
        padding: 0;
        transition: 0.3s ease-in-out;

        .option {
          display: flex;
          align-items: center;
          background: #303030;
          position: absolute;
          top: 0;
          width: 100%;
          pointer-events: none;
          order: 2;
          z-index: 1;
          transition: 0.4s ease-in-out;
          box-sizing: border-box;
          overflow: hidden;
          white-space: normal;
          min-height: 59px;
          font-family: "Ubuntu", sans-serif;
          font-size: 30px;
          color: #b4b4b4;
          font-weight: 300;
          text-align: center;
          padding: 0;
          margin: 0;
          text-decoration: none;

          .line {
            width: 100%;
          }

          &:hover {
            color: #b69b67;
          }
        }

        &:focus {
          .option:not(:first-child) {
            position: relative;
            pointer-events: all;
            border-right: 1px solid #454545;
            border-left: 1px solid #454545;
          }

          .option:last-child {
            border-bottom: 1px solid #454545;
          }
        }

        input {
          opacity: 0;
          position: absolute;
          left: -99999px;

          &:checked + label {
            order: 1;
            z-index: 2;
            background: #303030;
            border-top: none;
            border-right: none;
            border-left: none;
            position: relative;
          }

          &:checked + label:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            position: absolute;
            right: 10px;
            top: calc(50% - 2.5px);
            pointer-events: none;
            z-index: 3;
          }

          &:checked + label:before {
            position: absolute;
            right: 0;
            height: 59px;
            width: 59px;
            content: "";
          }
        }

        &:focus {
          border-right: none;
          border-left: none;
        }

        &:hover label:first-child {
          border: 1px solid #b69b67;
        }
      }
    }

    .slider-info__wrapper {
      width: 100%;
      height: 65%;
      display: flex;
      justify-content: space-between;

      .items-slider-info__wrapper-first {
        height: 100%;
        width: 49.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .first-item {
          background-image: url(../images/item1_pic.png);
        }

        .second-item {
          background-image: url(../images/item2_pic.png);
        }
      }

      .items-slider-info__wrapper-second {
        height: 100%;
        width: 49.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .third-item {
          background-image: url(../images/item3_pic.png);
        }

        .fourth-item {
          background-image: url(../images/item4_pic.png);
        }
      }

      .item {
        width: 100%;
        height: 49%;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        position: relative;

        .block-portfolio {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 1;
          transition: 0.5s linear;

          .services-item__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .first-section-void__wrapper {
              height: 100%;
              width: 54%;
              background: rgba($color: #303030, $alpha: 0.5);

              .first-row-void {
                width: 100%;
                height: 34.4%;
                display: flex;

                .void-text {
                  height: 100%;
                  width: 70%;
                }

                .void-text-line {
                  content: "";
                  height: 100%;
                  width: 30%;
                }
              }

              .second-row-void {
                width: 100%;
                height: 65.6%;
              }
            }

            .second-section__maintext {
              height: 100%;
              width: 46%;
              background: #b69b67;
              display: flex;
              flex-direction: column;

              .pre-first-row {
                width: 100%;
                height: 10.5%;
              }

              .first-row {
                width: 90%;
                height: 27%;
                display: flex;

                .void-text-first {
                  width: 5%;
                  height: 100%;
                  border-bottom: 1px solid #303030;
                }

                .main-text {
                  height: 100%;
                  width: 90%;
                  color: #303030;
                  font-family: "Ubuntu", sans-serif;
                  font-weight: 400;
                  text-align: left;
                  text-transform: uppercase;
                  font-size: 30px;
                  border-bottom: 1px solid #303030;
                }

                .void-text {
                  height: 100%;
                  width: 0%;
                  padding: 20px 0 0 20px;
                }
              }

              .second-row {
                width: 100%;
                min-height: 30%;
              }

              .third-row {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                  font-family: "Ubuntu", sans-serif;
                  width: 90%;
                  color: #303030;
                  font-size: 15px;
                  font-weight: 500;
                }
              }

              .fourth-row {
                width: 100%;
                height: 23%;
                display: flex;
                justify-content: center;

                span {
                  font-family: "Ubuntu", sans-serif;
                  font-style: italic;
                  font-weight: 300;
                  width: 90%;
                  text-align: end;
                }
              }
            }
          }
        }

        .btn-portfolio__block {
          height: 100%;
          width: 100%;
          position: relative;
          opacity: 0;
          transition: 0.5s linear;

          .portfolio-flex__wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .button-info-portfolio {
              height: 30%;
              width: 43%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #b69b67;
              cursor: pointer;

              span {
                color: #303030;
                font-size: 30px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                font-family: "Ubuntu", sans-serif;
              }
            }
          }
        }

        &:hover {
          .block-portfolio {
            opacity: 0;
            transition: 0.5s linear;
          }

          .btn-portfolio__block {
            opacity: 1;
            transition: 0.5s linear;
          }
        }
      }
    }

    .paginator__slider {
      width: 100%;
      height: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #b4b4b4;
      font-size: 15px;
      font-weight: 500;
      font-family: "Ubuntu", sans-serif;
      line-height: 20px;
      word-spacing: 10px;
      padding: 0;
      margin: 0;

      ul {
        padding-inline-start: 0px;

        li {
          list-style: none;
          display: inline;
          padding-left: 0 !important;

          a {
            text-decoration: none;
          }
        }
      }

      .paginator-wrapper__dark {
        color: #454545;

        &:hover {
          color: #ffffff;
        }
      }

      .paginator-wrapper__active {
        color: #b69b67;

        &:hover {
          color: #ffffff;
        }
      }

      .paginator-wrapper__text {
        color: #b4b4b4;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

.section-feedbacks-contact {
  width: calc(100% - 21.875%);
  height: calc(100% - 85.1167%);
  //border: 1px solid white;
  margin-bottom: calc(100% - 99.37%);
  display: flex;
  justify-content: space-between;

  .section-feedbacks-contactus__wrapper {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .feedbacks-text {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .info-person__feedbacks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40%;
        margin-bottom: 15px;

        .person-image__feedbacks {
          width: 13%;
          margin-right: 20px;
          border-radius: 5px;
        }

        .text-person__feedbacks {
          width: 90%;
          text-align: left;
          font-family: "Ubuntu", sans-serif;

          span {
            font-size: 25px;
            font-weight: 300;
            color: #b4b4b4;
          }
        }
      }

      .author-text__feedbacks {
        width: 100%;
        border-top: 1px solid #b69b67;
        text-align: right;
        font-family: "Ubuntu", sans-serif;

        span {
          font-size: 25px;
          font-weight: 300;
          text-transform: uppercase;
          color: #b69b67;
        }
      }
    }

    .hover-feedbacks-click {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 15px;
        text-align: center;
        color: #b4b4b4;
        font-family: "Ubuntu", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        word-spacing: 0;
        transition: 0.3s linear;
        cursor: pointer;

        &:hover {
          color: #b69b67;
          transition: 0.3s linear;
        }
      }
    }

    .feedback-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 15%;
      margin-right: 17%;
      font-family: "Ubuntu", serif;
      z-index: 2;

      .feedback-form__name,
      .feedback-form__email,
      .feedback-form__your-message {
        width: 100%;
        outline: none;
        border: none;
        padding: 15px;
        background-color: #303030;
        border: solid 1px #b4b4b4;
        resize: none;
        color: #b4b4b4;
        margin-bottom: 4%;

        &::placeholder {
          color: #454545;
        }
      }

      .feedback-form__submit {
        padding: 15px 50px;
        background-color: #b69b67;
        border: 1px solid #b69b67;
        outline: none;
        font-size: 25px;
        color: #454545;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #454545;
          color: #b69b67;
          transition: 0.3s ease-in-out;
        }
      }
    }

    .contact-img {
      width: 350px;
      position: absolute;
      z-index: 1;
      bottom: 25%;
      left: 50%;
    }
  }

  .section-name {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: "Playfair Display SC", sans-serif;
    color: #b4b4b4;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.section-contacts {
  width: 100%;
  height: calc(100% - 78.7%);
  //border-top: 1px solid white;
  //border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;

  .section-contacts__title {
    width: 100%;
    font-size: 60px;
    text-align: center;
    font-family: "Playfair Display SC", serif;
    color: #b4b4b4;
    height: 15%;
  }

  .section-contacts__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;

    .section-contacts__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 30px;
      width: 30%;

      .contact__title {
        margin-bottom: 30px;

        span {
          color: #b69b67;
          border-top: 1px solid #b69b67;
          padding-top: 5px;
          text-align: center;
        }
      }

      .contact__first-contact {
        color: #b4b4b4;
      }

      .contact__second-contact {
        color: #b4b4b4;
      }
    }
  }

  .firehand-img {
    width: 85%;
    height: 50%;
  }

  .contact__slogan {
    width: 100%;
    height: 5%;
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #636363;
    background: radial-gradient(
      circle closest-corner at 50% 50%,
      #c7a773,
      #373737
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__links {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact__contact-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-decoration: none;
      list-style-type: none;
      font-family: "Ubuntu", sans-serif;
      text-transform: uppercase;
      color: #b4b4b4;

      .contact__linst-link {
        cursor: pointer;
        font-size: 15px;
        font-weight: 300;
        transition: 0.3s ease-in-out;

        &:hover {
          color: #b69b67;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

.footer {
  height: calc(100% - 89.5%);
  width: calc(100% - 35.2084%);
  position: relative;
  display: flex;
  justify-content: center;

  .fire-img {
    background-size: cover;
    background-position: center;
    top: 19%;
    position: absolute;
  }
}

.show {
  //display: block !important;
  opacity: 1 !important;
  transition: 0.3s ease-in-out;
}

.hide {
  //display: none !important;
  opacity: 0 !important;
  transition: 0.3s ease-in-out;
}

.form-active {
  transform: translateX(0%) !important;
  transition: 1s ease-in-out;
}

.menu-active {
  //opacity: 1 !important;
  transform: translateX(0%) !important;
  transition: 1s ease-in-out;
}

.form-right-slide {
  transform: translateX(-200%) !important;
  transition: 1s ease-in-out;
}
